<h3>CadastrosMenu</h3>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="cadastrosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Cadastros
    </a>
    <ul class="dropdown-menu" aria-labelledby="cadastrosDropdown">
        <li><a class="dropdown-item" asp-action="Cadastrar" asp-controller="Veiculo">Veículos</a></li>
        <li><a class="dropdown-item" asp-action="CadastrarMotorista" asp-controller="Motorista">Motoristas</a></li>
    </ul>
</li>
