@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h2 class="text-light" style="margin: 8.5rem;">Locadora de FIAPMotors</h2>
    <figure>
        <img src="https://cdn.pixabay.com/photo/2016/04/17/22/10/mercedes-benz-1335674_1280.png" width="500px" margin-bottom:50/>
    </figure>
</div>
